<div class="page-header text-center">
  <h1>{{ foto.titulo }}</h1>
</div>
<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>
<form class="row" name="formulario" ng-submit="submeter()" novalidate>
  <div class="col-md-6 form-xs-12">
    <div class="form-group">
      <label for="">Título</label>
      <input class="form-control" type="text" name="titulo" ng-model="foto.titulo" ng-maxlength="20" required ng-maxlength="20">
      <span ng-show="formulario.$submitted && formulario.titulo.$error.required" class="form-control alert-danger">Título obrigatório</span>
      <span ng-show="formulario.$submitted && formulario.titulo.$error.maxlength" class="form-control alert-danger">Máximo 20 caracteres</span>
    </div>
    <div class="form-group">
      <label for="">Url</label>
      <input class="form-control" type="text" name="url"  ng-model="foto.url" required>
      <span ng-show="formulario.$submitted && formulario.url.$error.required" class="form-control alert-danger">Url obrigatória</span>
    </div>
    <div class="form-group">
      <label for="">Descrição</label>
      <textarea class="form-control" name="descricao"  ng-model="foto.descricao"></textarea>
    </div>

    <div class="form-group">
    	<label>Grupo</label>
    	<select name="grupo" class="form-control" required ng-controller="GruposCtrl" ng-model="foto.grupo"
    	ng-options="grupo._id as (grupo.nome | uppercase) for grupo in grupos">
    		<option value="">Selecione o grupo</option>
    	</select>
    	<span ng-show="formulario.$submitted && formulario.grupo.$error.required" class="form-control alert-danger">Grupo obrigatório</span>
    </div>

    <button class="btn btn-primary" type="submit" ng-disabled="formulario.$invalid">Salvar</button>
    <a href="/" class="btn btn-primary" botao-focus>Voltar</a>
    <hr>
  </div>
  <dv class="col-md-6">
    <minha-foto url="{{foto.url}}" titulo="{{foto.titulo}}"></minha-foto>
  </dv>
</form>